/* vars */

:root {
  --light: #EFEBE9;
  --dark: #7b3a26;
  --emphasis: #D10000;
  --link: #008A00;
  --link-light: #99FF99;
}

/* reset */

* {
  margin: 0;
  padding: 0
}

/* basics */

body {
  font-family: Segoe UI, Ebrima, Helvetica, sans-serif;
}

.contents {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
}

/* header and footer */

header, footer {
  background-color: var(--light);
}

.header-logo {
  max-width: 10rem;
}

header nav ul {
  list-style-type: none;
}

header nav li {
  margin-bottom: 1rem;
}

header nav li:last-of-type {
  margin-bottom: 0;
}

header nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: .25rem;
  background: #fff;
  padding: .5rem;
  border-radius: .5rem;
  border: 2px var(--link) solid;
}

header nav a img {
  max-height: 1.25rem;
}

@media (min-width: 48em) {
  header .contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav ul {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  header nav li {
    margin-bottom: 0;
  }
}

footer {
  text-align: right;
}

/* content */

main {
  min-height: 85vh;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  color: var(--dark);
}

h1 {
  max-width: max-content;
  margin-inline: auto;
  margin-bottom: 1em;
}

.h1-container {
  background-image: url('../img/leaf-litter.jpg')
}

h1 span {
  background: #0007;
  color: #fff;
  display: inline-block;
  padding-inline: 1rem;
  border-radius: .25rem;
}

.h1-desc {
  font-style: italic;
}

@media (min-width: 50em) {
  .h1-desc {
    margin-left: 3em;
  }
}

p, main ul {
  margin-bottom: 1rem;
}

main li {
  margin-bottom: .5rem;
}

li:last-of-type {
  margin-bottom: 0;
}

b, strong {
  color: var(--dark);
}

img {
  max-width: 100%;
}

.important {
  font-size: 1.5rem;
}

a {
  color: var(--link);
  font-weight: bold;
  word-break: break-all;
}

a:hover, a:focus {
  text-decoration-thickness: 2px;
  color: #000;
  background-color: var(--link-light);
}

/* figure list */

.figure-list {
  list-style-type: none;
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
}

@media (min-width: 30em) {
  .figure-list {
    display: flex;
    align-items: baseline;
    gap: 1rem;
  }
}

.price {
  color: var(--emphasis);
  font-size: 1.5rem;
}
